<script type = "text/javascript">
    //check if the google authorized variable is set.
    var tubeauth = <%if(locals.authorized){%>true;<%} else {%>false;<%}%>
    var ids; 
    if(tubeauth){
        //need to make an async call to playlist item function down below.
        $.get({
            url: './home/playlistinfo',
            dataType: 'json',
            success: function(data, stat){
                ids = data['plids'];
                for(var i = 0; i < ids.length; i++){
                    var id = '' + ids[i].id;
                    (function(id){
                    $.get({
                        url: './home/playlists',
                        data: { id: id},
                        dataType:'json',
                        success: function(data, stat){
                            for(var j = 0; j < data.items.length; j++){

                                $("ul#" + id).prepend('<li class = "list-group-item">' + data.items[j].snippet.title+'</li>');
                            }
                        },
                        error: function(err){
                            console.log("error grabbing playlist items: ", err);
                        }
                    });
                    })(id);
                }
            },
            error: function(err){
                console.log("error grabbing playlist meta-data: ", err);
            }                
        });
    }
</script>