<!DOCTYPE html>
<html>

<head>
    <title>Playlist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./templates/headLinks'); %>

    

</head>

<body>

<%- include('./templates/header'); %>


<h1></h1>

<div class="center"></div>
<div class="row" style="font-size: 200%; margin-top: 90px;">
    <% if(!spotauth){%>
        <div class="col-sm-4" align="center" >
            <div class="list-group">
                <a id="spotbutt" href = "#" class="list-group-item active">
                    Spotify
                </a>
                <div class="jumbotron">
                    <a href="/spotify" class="btn btn-success"><span class="fa fa-spotify" style="padding: 15px; font-size: 150%;"> Spotify</span></a>
                </div>
            </div>
        </div>
    <%} else {%> 
        <div class="col-sm-4" align="center" >
            <div class="list-group" >
                <a id="spotbutt" href = "#" class="list-group-item active">
                    Spotify
                </a>
            <div class = "panel-group spotsort" id = "spotifyplaylists"></div>
            </div>
        </div>
    <%}%>

    <!-- Reserved section for the builder, coming up next :) -->

     <div class="col-sm-4" align="center">
        <a href="#" class="list-group-item active">
            Builder
        </a>

        <form id="search-form">
                <div class="form-group row">
                    <div class="col-sm-8">
                        <input type="text" id="query" value="" class="form-control" placeholder="Search Music">
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" id="builderSearch" class="btn btn-success" value="Search" />
                    </div>
                </div>
        </form>

        <div class="container">
            <div class="panel-group" id="results"></div>
        </div>

        <a href="#" class="list-group-item"  style="font-size: 75%;">I love
        </a>
        <a href="#" class="list-group-item"  style="font-size: 75%;">Music and stuff
        </a>
    </div>
    <!--googles not authorized, don't show the playlists.-->
    <% if(!authorized){ %>
    <div class="col-md-4" align="center">
        <div class="list-group">
            <a id="youbutt" href="#" class="list-group-item active">
                Youtube
            </a>
            <div class="jumbotron">
                <a href="/oauth" class="btn btn-danger"><span class="fa fa-youtube" style="padding: 15px; font-size: 200%;"> YouTube</span></a>
            </div>
        </div>
    </div>
    <% }else {%>
    <div class="col-md-4" align="center">
        <div class="list-group">
            <a id="youbutt" href="#" class="list-group-item active">
                Youtube
            </a>
            <div class="panel-group" id = "youtube-playlists"></div>
        </div>
    </div>
    <%}%>
</div>

<%- include('./templates/bodyScript'); %>
<script id="results-template" type="text/x-handlebars-template">
    {{#each tracks.items}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#results" href="#{{id}}">{{name}}</a>
                </h4>
            </div>
            <div id="{{id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div> Artist name = {{artists.0.name}} </div>
                    <div> Album name = {{album.name}} </div>
                </div>
            </div>
        </div>
    {{/each}}
</script>


<script type="text/javascript">
        // find template and compile it
        var templateSource = document.getElementById('results-template').innerHTML,
            template = Handlebars.compile(templateSource),
            resultsPlaceholder = document.getElementById('results'),
            playingCssClass = 'playing',
            audioObject = null;

        var fetchTracks = function (albumId, callback) {
            $.ajax({
                url: 'https://api.spotify.com/v1/albums/' + albumId,
                success: function (response) {
                    callback(response);
                }
            });
        };

        var searchAlbums = function (query) {
            $.ajax({
                url: 'https://api.spotify.com/v1/search',
                data: { 
                    q: query,
                    type: 'track'
                },
                success: function (response) {
                    resultsPlaceholder.innerHTML = template(response);
                }
            });
        };

        document.getElementById('search-form').addEventListener('submit', function (e) {
            e.preventDefault();
            searchAlbums(document.getElementById('query').value);
        }, false);
    </script>

<!-- include the ajax calls to grab the playlists! -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script> -->



<% include displayplaylists%>
<%- include('./templates/footer'); %>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




</body>
</html>