<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <title>Playlist</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://developer.spotify.com/web-api/static/css/cached.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">

        <script>
        window.onload = function () {
            var templateSource = document.getElementById('results-template').innerHTML,
                    template = Handlebars.compile(templateSource),
                    resultsPlaceholder = document.getElementById('results'),
                    playingCssClass = 'playing',
                    audioObject = null;

            var fetchTracks = function (albumId, callback) {
                $.ajax({
                    url: 'https://api.spotify.com/v1/albums/' + albumId,
                    success: function (response) {
                        callback(response);
                    }
                });
            };

            var searchAlbums = function (query) {
                $.ajax({
                    url: 'https://api.spotify.com/v1/search',
                    data: {
                        q: query,
                        type: 'album'
                    },
                    success: function (response) {
                        console.log(response);
                        resultsPlaceholder.innerHTML = template(response);
                    }
                });
            };

            results.addEventListener('click', function (e) {
                var target = e.target;
                if (target !== null && target.classList.contains('cover')) {
                    if (target.classList.contains(playingCssClass)) {
                        audioObject.pause();
                    } else {
                        if (audioObject) {
                            audioObject.pause();
                        }
                        fetchTracks(target.getAttribute('data-album-id'), function (data) {
                            audioObject = new Audio(data.tracks.items[0].preview_url);
                            audioObject.play();
                            target.classList.add(playingCssClass);
                            audioObject.addEventListener('ended', function () {
                                target.classList.remove(playingCssClass);
                            });
                            audioObject.addEventListener('pause', function () {
                                target.classList.remove(playingCssClass);
                            });
                        });
                    }
                }
            });

            document.getElementById('search-form').addEventListener('submit', function (e) {
                e.preventDefault();
                searchAlbums(document.getElementById('query').value);
            }, false);
        }

        </script>
        <style type="text/css">
            body {
                padding: 20px;
            }
            #search-form, .form-control {
                margin-bottom: 20px;
            }
            .cover {
                width: 300px;
                height: 300px;
                display: inline-block;
                background-size: cover;
            }
            .cover:hover {
                cursor: pointer;
            }
            .cover.playing {
                border: 5px solid #e45343;
            }
        </style>

    </head>
    <body>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
        <a class="navbar-brand fa fa-music" href="/"><b> PlaylistManager </b><i class="fa fa-play" aria-hidden="true"></i></a>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a href="/users/register" class="nav-link">Register</a>
            </li>
            <li class="nav-item">

                <!-- this will change once we implement login -->
                <a href="/users/login" class="nav-link">Login</a>
            </li>
        </ul>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <form id="search-form">
                <div class="form-group row">
                    <div class="col-md-10">
                        <input type="text" id="query" value="" class="form-control" placeholder="Search Music">
                    </div>
                    <div class="col-md-2">
                        <input type="submit" id="search" class="btn btn-success" value="Search" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">

           <div id="results"></div>


        <hr>

    </div> <!-- /container -->
    <script id="results-template" type="text/x-handlebars-template">
        {{#each albums.items}}
        <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
        {{/each}}
    </script>


    <footer>
        <p>&copy; Company 2016</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>


    </body>
</html>