<!DOCTYPE html>
<html lang="en">
<head>
  <title>Playlist</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div>
			<a class="navbar-brand" href="#">Playlist</a>
		</div>
		<ul class="nav navbar-nav">
			<!-- any rightside buttons go here-->
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="http://localhost:3000/register">Sign Up</a></li><!--/oct 13 clyde-->
			<li><a href="#">Log In</a></li>
		</ul>
	</div>
</nav>
<video width="1000" height="500" autoplay>
  <source src="https://vt.tumblr.com/tumblr_oadaqbk17a1ufh3ag.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</body>
</html>