<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <title>Playlist</title>
        <!-- includes the links for style sheets and  -->
        <%- include('./templates/headLinks'); %>

        <script>
        window.onload = function () {
            var templateSource = document.getElementById('results-template').innerHTML,
                    template = Handlebars.compile(templateSource),
                    resultsPlaceholder = document.getElementById('results'),
                    playingCssClass = 'playing',
                    audioObject = null;

            var fetchTracks = function (albumId, callback) {
                $.ajax({
                    url: 'https://api.spotify.com/v1/albums/' + albumId,
                    success: function (response) {
                        callback(response);
                    }
                });
            };

            var searchAlbums = function (query) {
                $.ajax({
                    url: 'https://api.spotify.com/v1/search',
                    data: {
                        q: query,
                        type: 'album'
                    },
                    success: function (response) {
                        console.log(response);
                        resultsPlaceholder.innerHTML = template(response);
                    }
                });
            };

            results.addEventListener('click', function (e) {
                var target = e.target;
                if (target !== null && target.classList.contains('cover')) {
                    if (target.classList.contains(playingCssClass)) {
                        audioObject.pause();
                    } else {
                        if (audioObject) {
                            audioObject.pause();
                        }
                        fetchTracks(target.getAttribute('data-album-id'), function (data) {
                            audioObject = new Audio(data.tracks.items[0].preview_url);
                            audioObject.play();
                            target.classList.add(playingCssClass);
                            audioObject.addEventListener('ended', function () {
                                target.classList.remove(playingCssClass);
                            });
                            audioObject.addEventListener('pause', function () {
                                target.classList.remove(playingCssClass);
                            });
                        });
                    }
                }
            });

            document.getElementById('search-form').addEventListener('submit', function (e) {
                e.preventDefault();
                searchAlbums(document.getElementById('query').value);
            }, false);
        }

        </script>
        <style type="text/css">
            body {
                padding: 20px;
            }
            #search-form, .form-control {
                margin-bottom: 20px;
            }
            .cover {
                width: 300px;
                height: 300px;
                display: inline-block;
                background-size: cover;
            }
            .cover:hover {
                cursor: pointer;
            }
            .cover.playing {
                border: 5px solid #e45343;
            }

            .carousel-inner > .item > img,
            .carousel-inner > .item > a > img {
                width: 70%;
                margin: auto;
            }
        </style>

    </head>
    <body>
    <!-- include for the navbar -->
    <%- include('./templates/header'); %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <form id="search-form">
                <div class="form-group row">
                    <div class="col-md-10">
                        <input type="text" id="query" value="" class="form-control" placeholder="Search Music">
                    </div>
                    <div class="col-md-2">
                        <input type="submit" id="search" class="btn btn-success" value="Search" />
                    </div>
                </div>
            </form>
        </div>
    </div>




<!-- SECTION FOR OVERLAY CODE November 2016-->



<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
    <div class="overlay-content">
        <div><p> Join Us!!! </p> </div>
    

    
    

        <p>

            <div class="centerTHIS row">
               

                    <input type="submit"  onclick="location.href='users/register'"  class="btn btn-success" value="Register" />     
                
        
    

    
                
                     <input type="submit" onclick="location.href='users/login'"  class="btn btn-success" value="Login" />
                
             </div>
        </p>
    
    
    
    

     </div>
</div>

<script>
function openNav() {
    document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
</script>


<!-- END OF SECTION FOR OVERLAY CODE-->


    <div class="container">

           <div id="results"></div>



    </div> <!-- /container -->
    <script id="results-template" type="text/x-handlebars-template">
        {{#each albums.items}}
        <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
        {{/each}}
    </script>

    <!-- include for the footer -->
    <%- include('./templates/footer'); %>
    
    <!-- <footer>
        <p>&copy; Company 2016</p>
    </footer> -->

    <%- include('./templates/bodyScript'); %>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script> -->


    </body>
</html>