<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page</title>
  <!-- includes the links for style sheets and  -->
  <%- include('./templates/headLinks'); %>

</head>
<body>
<!-- include for the navbar -->
<%- include('./templates/header'); %>

  <!-- Start of Form! -->
<div class="container-fluid centered" style="padding: 38px;">

	<h2>Login Page</h2>
  <form method="post" action="/users/login">
   
    <div class="form-group col-lg-4">
      <label>Username</label>
      <input type="text" class="form-control"  name="username" placeholder="Username">
    
      <label>Password:</label>
      <input type="password" name="password" class="form-control"  placeholder="Enter Your Password!">
	  
	  <button type="submit" class="btn btn-success"  style="margin-top: 38px;">Log In</button>
    </div>
    
  </form>

</div>

<!-- include for the footer -->
<%- include('./templates/footer'); %>

</body>
</html>
