<!DOCTYPE html>
<html lang="en">


<head>
  <title>Registration Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   Oct 13 2016 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cyborg/bootstrap.min.css">

  
  <!--<link rel="stylesheet" type="text/css" href="stylesheets/register.css" />  -->
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<!--bryan is a fuckin' G!!!-->
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/index">Playlist Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>
  

  <!-- Start of Form! -->
<div class="container-fluid">

	<h2>Register for Playlist Manager!</h2>
  <form>


  
 <div class = "row" id = "firstrow">
    <div class = "form-group col-lg-8">

     

      <label for="fullName" class="col-lg-2 control-label">First and Last Name:</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>


    </div>

  </div>





    <div class="form-group col-lg-8">
      <label for="inputEmail" class="col-lg-2 control-label">Email Adddress:</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email Address">
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="chooseUsername" class="col-lg-2 control-label">Choose a Username:</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="username" placeholder="Username">
        
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
      <div class="col-lg-4">
        <input type="password" class="form-control" id="inputPassword" placeholder="Please Enter a Password!">
        
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="confirmPassword" class="col-lg-2 control-label">Re-Enter Password:</label>
      <div class="col-lg-4">
        <input type="password" class="form-control" id="confirmPassword" placeholder="Re-Enter Password">
        
      </div>
    </div>

    
    


    
    <div class="form-group col-lg-8">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>





 

</div>

</body>
</html>
