<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" type="text/css" href="https://developer.spotify.com/web-api/static/css/cached.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cyborg/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/">Playlist</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- any rightside buttons go here-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/login">Log In</a></li>
    </ul>
  </div>
</nav>
<!-- Start of Form! -->
<div class="container-fluid centered" style="padding: 38px;">

  <h2>Register for Playlist Manager!</h2>
  <form action="/signup" method="post">
    <div class = "form-group col-lg-8">
      <label class="col-lg-2 control-label">First Name:</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="first_name"  placeholder="First Name">
      </div>
    </div>
    <div class = "form-group col-lg-8">
      <label  class="col-lg-2 control-label">Last Name:</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="last_name"  placeholder="Last Name">
      </div>

    </div>

    <div class="form-group col-lg-8">
      <label  class="col-lg-2 control-label">Email Adddress:</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="email" placeholder="Email Address">
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label  class="col-lg-2 control-label">Username:</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="username" placeholder="Username">

      </div>
    </div>

    <div class="form-group col-lg-8">
      <label  class="col-lg-2 control-label">Password:</label>
      <div class="col-lg-4">
        <input type="password" name="password" class="form-control"  placeholder="Please Enter a Password!">
      </div>
    </div>
    <div class="form-group col-lg-8">
        <label  class="col-lg-2 control-label">Confirm Password:</label>
        <div class="col-lg-4">
          <input type="password" name="password2" class="form-control"  placeholder="Confirm Password!">

        </div>
    </div>
    <div class="form-group col-lg-8">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" name="button" class="btn btn-success" >Submit</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>
