
<!-- template for footer element -->

<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p><span>&copy; 2016 PlayList Manager Inc. </span></p>
  </div>
</footer>