
<!-- template for footer element -->

<div class="container-fluid" style="position: absolute; bottom: 0; width: 100%; height: 50px;">
	<hr/>
	<footer style="float: left;">
	    <p>&copy; Company 2016</p>
	</footer>
</div>