
<!-- template for footer element -->

<div class="container-fluid text-center" style="position: absolute; bottom: 0; width: 100%; height: 50px;">
	<hr/>
	<footer >
	    <p>&copy; 2016 PlayList Manager Inc. </p>
	</footer>
</div>