
<!-- template for footer element -->

<footer class="navbar-default navbar-fixed-bottom" style="background-color: rgba(0,0,0,0);">
  <div class="container-fluid">
    <p style="text-align: center;"><span>&copy; 2016 PlayList Manager Inc. </span></p>
  </div>
</footer>