<!-- include partial for the navigation bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand fa fa-music" href="/"><b> PlaylistManager </b><i class="fa fa-play" aria-hidden="true"></i></a>
    </div>
    <ul class="nav navbar-nav">
      <!-- any rightside buttons go here-->
    </ul>

    <% if (!user) { %>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/register">Register</a></li>
      <li><a href="/users/login">Log In</a></li>
    </ul> 
    <% } else { %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> Welcome!! <%= user.first_name %></a></li>
            <li><a href="/users/logout">Log Out</a></li>
        </ul> 
    <% } %>

  </div>
</nav>