<!-- include partial for the navigation bar -->



<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div>
        <img src="/images/final.png" alt="logo" height="42" width="42" align="left">
        <a class="navbar-brand" href="/">
        <b style="font-size: xx-large;"> 
          &nbsp;PlaylistManager 
        </b>
        <i aria-hidden="true"></i>
        </a>
    </div>
    <ul class="nav navbar-nav">
      <!-- any rightside buttons go here-->
    </ul>

    <% if (!user) { %>
    <ul class="nav navbar-nav navbar-right">
      
      <li ><a href ="#" onclick="openNav()">Register/Login</a></li>
      
    </ul> 
    <% } else { %>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> Welcome!! <%= user.first_name %></a></li>
            <li id="logout"><a href="/users/logout">Log Out</a></li>
        </ul> 
    <% } %>

  </div>
</nav>




