html, body{
    height: 100%;
    background-image: url("../images/body.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.jumbotron{
    background-image: url("../images/cool-music-background.jpg");

    background-repeat:repeat-x;
}